https://www.svgrepo.com/show/345221/three-dots.svg/*  your css code here. If applicable */
.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.delete {
    cursor: pointer;
}